<div id="nav">
    <div class="navbar">
        <div class="logo">
            <img src="/medias/logo.png" alt="Our logo"/>
        </div>
        <div class="navigation">
            <ul>
                <li class="nav-item">
                    <a href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="/services">Nos services</a>
                </li>
                <li class="nav-item">
                    <a href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="/discord">Discord</a>
                </li>
            </ul>
        </div>
        <div class="dashboard">
            <a href="https://dashboard.exacube.me" class="btn-nav">
                <span class="iconify" data-icon="fa7-solid:hexagon-nodes"></span> Dashboard
            </a>
        </div>
    </div>
</div>