PORT=                                           # YOUR MAIN SERVER PORT
HOST=http://127.0.0.1:xxxx/                     # REPLACE xxxx BY YOUR SERVER PORT
SESSION_SECRET=                                 # THE SESSION SECRET OF YOUR WEBSERVER

API_URL=https://api.exacube.me/v1/web/          # THE EXACUBE API URL
API_KEY=                                        # YOUR EXACUBE API KEY